{% set publish_year = '2019' %}

<footer class="bg-dark py-5 row d-print-none">
    <div class="container-fluid mx-sm-5">
        <div class="row">
            <div class="col-6 col-sm-4 text-xs-center order-sm-2">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="User mailing list" aria-label="User mailing list">
                        <a class="text-white" target="_blank" href="https://example.org/mail">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>

                    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="Twitter" aria-label="Twitter">
                        <a class="text-white" target="_blank" href="https://example.org/twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>

                    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="Stack Overflow" aria-label="Stack Overflow">
                        <a class="text-white" target="_blank" href="https://example.org/stack">
                            <i class="fab fa-stack-overflow"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-6 col-sm-4 text-right text-xs-center order-sm-3">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="GitHub" aria-label="GitHub">
                        <a class="text-white" target="_blank" href="https://github.com/google/docsy">
                            <i class="fab fa-github"></i>
                        </a>
                    </li>

                    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="Slack" aria-label="Slack">
                        <a class="text-white" target="_blank" href="https://example.org/slack">
                            <i class="fab fa-slack"></i>
                        </a>
                    </li>

                    <li class="list-inline-item mx-2 h3" data-toggle="tooltip" data-placement="top" title="Developer mailing list" aria-label="Developer mailing list">
                        <a class="text-white" target="_blank" href="https://example.org/mail">
                            <i class="fa fa-envelope"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="col-12 col-sm-4 text-center py-2 order-sm-2">
                <p class="text-white">&copy; {{ publish_year }} Robert Anderson</p>
            </div>
        </div>
    </div>
</footer>