<footer class="bg-dark pt-3 pb-1 row d-print-none">
    <div class="container-fluid mx-sm-5">
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-white">&copy; {{ g_current_year }} Robert Anderson</p>
            </div>
        </div>
    </div>
</footer>