<div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
    <div id="td-sidebar-menu" class="td-sidebar__inner">
        <!-- Search Bar -->
        <!-- <form class="td-sidebar__search d-flex align-items-center">
            <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">

            <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation"></button>
        </form> -->

        <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
            <ul class="td-sidebar-nav__section pr-md-3 pt-3">
                <li class="td-sidebar-nav__section-title pb-1">
                    <a 
                        href="/docs#how-to-install" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >How to install</a>
                </li>

                <li class="td-sidebar-nav__section-title pb-1">
                    <a 
                        href="/docs#validating-inputs" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >Validating an input</a>
                </li>

                <li class="td-sidebar-nav__section-title pb-1">
                    <a 
                        href="/docs#custom-error-messages" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >Custom error messages</a>
                </li>

                <li class="td-sidebar-nav__section-title pb-1">
                    <a 
                        href="/docs#validation-rules" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >Available validation options</a>
                </li>

                <li class="td-sidebar-nav__section-title pb-1">
                    <a 
                        href="/docs#isvalid-method" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >isValid for faster validation</a>
                </li>

                <li class="td-sidebar-nav__section-title pb-1">
                    <a  
                        href="/docs#custom-validation-rules" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >Custom validation rules</a>
                </li>

                <li class="td-sidebar-nav__section-title pb-1">
                    <a  
                        href="/docs#validating-many-inputs" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >Validating multiple inputs</a>
                </li>

<!--                 <li class="td-sidebar-nav__section-title pb-1">
                    <a  
                        href="/docs#backend-validation" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >Backend validation</a>
                </li> -->

                <li class="td-sidebar-nav__section-title pb-1">
                    <a 
                        href="/docs#more-examples" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >More Examples</a>
                </li>

                <li class="td-sidebar-nav__section-title pb-1">
                    <a 
                        href="/docs#changelog" 
                        class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section"
                    >Changelog</a>
                </li>
            </ul>
        </nav>
    </div>
</div>