<div class="col-12 col-md-3 col-xl-2 td-sidebar d-print-none">
    <div id="td-sidebar-menu" class="td-sidebar__inner">
        <!-- Search Bar -->
        <!-- <form class="td-sidebar__search d-flex align-items-center">
            <input type="search" class="form-control td-search-input" placeholder="&#xf002 Search this site…" aria-label="Search this site…" autocomplete="off">

            <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation"></button>
        </form> -->

        <nav class="collapse td-sidebar-nav pt-2 pl-4" id="td-section-nav">
            <ul class="td-sidebar-nav__section pr-md-3 pt-3">
                <li class="td-sidebar-nav__section-title pb-1">
                    <a  href="/docs/" class="align-left pl-0 pr-2 active td-sidebar-link td-sidebar-link__section">Documentation</a>
                </li>
                
                <ul>
                    <li class="collapse show" id="docs">
                        <ul class="td-sidebar-nav__section pr-md-3">
                            <li class="td-sidebar-nav__section-title">
                                <a  href="/docs/overview/" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">Overview</a>
                            </li>
                            <ul>
                                <li class="collapse show" id="docs-overview"></li>
                            </ul>
                        </ul>

                        <ul class="td-sidebar-nav__section pr-md-3">
                            <li class="td-sidebar-nav__section-title">
                                <a  href="/docs/getting-started/" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">Getting Started</a>
                            </li>
                            
                            <ul>
                                <li class="collapse show" id="docs-getting-started">
                                    <a class="td-sidebar-link td-sidebar-link__page " id="m-docs-getting-started-example-page" href="/docs/getting-started/example-page/">Example Page</a>
                                </li>
                            </ul>
                        </ul>

                        <ul class="td-sidebar-nav__section pr-md-3">
                            <li class="td-sidebar-nav__section-title">
                                <a  href="/docs/examples/" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">Examples</a>
                            </li>
                            
                            <ul>
                                <li class="collapse show" id="docs-examples"></li>
                            </ul>
                        </ul>

                        <ul class="td-sidebar-nav__section pr-md-3">
                            <li class="td-sidebar-nav__section-title">
                                <a  href="/docs/concepts/" class="align-left pl-0 pr-2 td-sidebar-link td-sidebar-link__section">Concepts</a>
                            </li>
                            
                            <ul>
                                <li class="collapse show" id="docs-concepts"></li>
                            </ul>
                        </ul>
                    </li>
                </ul>

                <ul>
                    <li class="collapse show" id="docs-contribution-guidelines"></li>
                </ul>
            </ul>
        </nav>
    </div>
</div>