{% extends "./templates/docs-layout.njk" %}

{% block head %}
    <title>Backend Demo | rj-validate</title>
{% endblock %}

{% block body %}
    <main class="col-12" role="main">
        <div class="td-main pl-1 pr-1">
            <div class="d-xs-block d-md-none" style="height: 30px"></div>

            <h4 class="mt-0 text-center pb-3">RJ Validate Backend Demo</h4>

            <h1 class="text-center pb-4">Horoscope Survey</h1>

            <p 
                class="mx-auto text-center"
                style="max-width:500px"
            >Many ancient civilizations believed that a person's personality was determined, in part, by the day of their birth. Let's put that theory to the test, with good ol' fashion data collection!</p>

            <br>

            <div class="text-center">
                <a 
                    class="btn btn-lg btn-primary mb-4" 
                    href="#"
                >&nbsp;Get Started&nbsp;</a>
            </div>
        </div>
    </main>
{% endblock %}