{% extends "./templates/docs-layout.njk" %}

{% block head %}
    <title>Backend Demo | rj-validate</title>
    <link rel="stylesheet" href="https://unpkg.com/js-datepicker/dist/datepicker.min.css">
{% endblock %}

{% block body %}
    <main 
        id="app"
        class="col-12" 
        role="main"
    >
        <div class="td-main pl-1 pr-1">
            <div class="d-xs-block d-md-none" style="height: 30px"></div>

            <h4 class="mt-0 text-center pb-3">RJ Validate Backend Demo</h4>

            <h1 
                class="text-center pb-4"
                v-text="title"
            ></h1>

            <transition name="component-fade" mode="out-in">
                <component 
                    v-bind:is="current_page"
                    v-bind="pageProps"
                    v-on="pageEventListeners"
                ></component>
            </transition>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="/js/backend-demo-bundle.js"></script>
{% endblock %}
