{% extends "./templates/banner-layout.njk" %}

{% block body %}
    <h1 class="display-1 mt-0 mt-md-5 pb-3">rj-validate</h1>

    <p class="lead">Javascript input validation you can use anywhere</p>

    <div class="pt-4 pb-4 lead">
        <div class="mx-auto">
            <a 
            	class="btn btn-lg btn-primary mr-3 mb-4" 
            	href="/docs"
            >&nbsp;Get Started&nbsp;</a>

            <a 
            	class="btn btn-lg btn-secondary mr-3 mb-4" 
            	href="/why-rj"
            >&nbsp;Why rj?&nbsp;</a>
        </div>
    </div>

    <a href="https://snyk.io/test/npm/rj-validate">
    	<img 
    		src="https://snyk.io/test/npm/rj-validate/badge.svg" 
    		alt="Known Vulnerabilities" 
    		data-canonical-src="https://snyk.io/test/npm/rj-validate" 
    		style="max-width:100%;"
    	>
    </a>

	<a href="https://travis-ci.org/Patchx/rj-validate">
		<img src="https://travis-ci.org/Patchx/rj-validate.svg?branch=master">
	</a>
{% endblock %}
